.app {
    display: grid;
    background-color: #ecf0f4;
    place-items: center;
    height: 100vh;
}

.app_body {
    display: flex;
    background-color: white;
    height: 90vh;
    min-width: 75vw;
    box-shadow: -1px 4px 50px -40px;
    border-radius: 10px;
    padding: 10px;
}

a {
    text-decoration: none !important;
    color: black;
}

p, .description {
    font-size: 0.7rem;
    font-weight: 600;
    margin: 5px 0 0 0;
    color: #adacac;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
/* */
.chat__container {
    display: flex;
    width: 100%
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #ecf0f4;
    border-radius: 10px;
    margin: 10px;
}

.chat_header {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat_headerInfo > h4 {
    margin: 5px 0;
}

.chat_headerInfo > p {
    font-size: 12px;
    margin: 5px 0;
    color: gray;
}

.chat_headerInfo {
    flex: 1;
    padding-left: 14px;
    align-items: center;
}

.chat_body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.chat_message {
    position: relative;
    font-size: 12px;
    padding: 10px;
    width: fit-content;
    background-color: white;
    border-radius: 10px 10px 10px 0px;
    margin: 5px 0 0 30px;
    font-weight: 600;
    max-width: 200px;
}

.chat_sender {
    margin-left: auto;
    background-color: #018342;
    color: white;
    border-radius: 10px 10px 0 10px !important
}

.chat_name {
    position: sticky;
    top: -1rem;
    left: 2.2rem;
    font-size: x-small;
    font-weight: 800;
    color: rgb(39, 39, 39);
}

.chat_name--sender {
    right: 10px;
}

.timestamp {
    font-size: x-small;
    color: gray;
    margin-left: 10px;
}

.timestamp_sender {
    color: white;
}

.chat_footer {
    display: flex;
    flex-direction: column;
}

.chat_footer form {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.chat_footer .MuiSvgIcon-root {
    font-size: 20px
} 

.send {
    border-radius: 20px;
    border-width: 0;
    background-color: #17803a;
    color: white;
    padding: 10px 25px 10px 25px;
    outline: none;
    font-family: inherit;
}

.send:hover {
    cursor: pointer
}

.join {    
    display: grid;
    place-items: center;
    background: #ecf0f4;
    border-radius: 10px;
    margin: 10px;
}

.join_send {
    margin: 0 auto;
    background-color: gray;
}

.room {
    text-align: center;
}

/* Float Input */
.wrapper {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 0 auto;
    width: 60%;
}

.login {
    text-align: center;
    padding: 80px;
    display: inline-grid;
    margin-right: 80px;
}

.login > h1 {
    font-size: 72px;
    margin: 0;
}

.login > p {
    margin-bottom: 40px;
}

.main {
    display: grid;
    place-items: start end
}

.profile__pic {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile__pic .MuiAvatar-root {
    width: 80px;
    height: 80px;
    margin: 20px 0 15px 0;
}

.setting__section {
    margin: 20px 0;
}

.members__info {
    padding: 5px 0;
    display: flex;
    cursor: pointer;
}

.members__info .MuiAvatar-root {
    height: 30px;
    width: 30px
}

.members__info h4 {
    margin: 0;
    font-size: smaller;
    align-self: center;
    margin-left: 16px;
    text-align: left;
}

.other__message {
    position: relative
}

.other__message .MuiAvatar-root {
    height: 20px;
    width: 20px;
    margin-right: 10px
}

.chat__head {
    position: absolute;
    bottom: 0rem;
}

#upload, #uploadMessage {
    opacity: 0;
    position: absolute;
    z-index: -1; 
}

.photo__container, .preview__container {
    position: relative
}

label {
    cursor: pointer
}

.upload__container {
    margin-bottom: 20px
}

#upload__btn {
    position: absolute;
    top: 75px;
    right: 0px;
}

.preview__img {
    height: 80px;
}

.preview {
    padding: 10px
}

.input__container {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

.delete {
    position: absolute;
    top: -8px;
    left: -9px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    gap: 5px;
    justify-items: center;
    margin-top: 10px;
}

.grid img {
    vertical-align: middle;
    height: 80px;
    width: 80px;
    min-width: 80px;
    object-fit: cover;
}

.alert {
    color: red;
    margin: 10px
}

.tabs {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.tab__content {
    margin: 20px 0;
    overflow-y: auto;
}