@font-face {
  font-family: 'Glacial-Regular';
  src: url('./fonts/AvenirNextLTPro-Regular.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial-Medium';
  src: url('./fonts/AvenirNextLTPro-Medium.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial-Demi';
  src: url('./fonts/AvenirNextLTPro-Demi.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial-Bold';
  src: url('./fonts/AvenirNextLTPro-Bold.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial-Heavy';
  src: url('./fonts/AvenirNextLTPro-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: 'Glacial-Regular';
}

input {
  font-family: inherit;
  font-weight: 600;
  border: none;
  width: 100%;
  margin-left: 15px;
  
}

h4, h5 {
  margin: 0
}

input::placeholder {
  color: #adacac;
}

.app {
  display: grid;
  background-color: #ecf0f4;
  place-items: center;
  height: 100vh;
}

.app_body {
  display: flex;
  background-color: white;
  height: 90vh;
  min-width: 75vw;
  box-shadow: -1px 4px 50px -40px;
  border-radius: 10px;
  padding: 10px;
}

a {
  text-decoration: none !important;
  color: black;
  margin: 0
}

p, .description {
  font-size: 0.7rem;
  font-weight: 600;
  margin: 5px 0 0 0;
  color: #adacac;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn {
  display: inline-block;
  color: #282c34;
  font-weight: 700;
  font-size: 12px;
  border: 2px solid #282c34;
  border-radius: 10px;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
  background: transparent;
  width: 100%;
  outline: none
}

.btn:hover, .btn__active {
  color: white;
  background: #018342;
  border: 2px solid #018342;
  outline: none;
}

.medium__btn {
  display: inline-block;
  color: white;
  background: #018342;
  border: 2px solid #018342;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
  margin: 10px
}

.medium__btn:hover {
  color: #282c34;
  background: transparent;
  border: 2px solid #282c34;
  outline: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.members .MuiAvatar-root, .sidebarUser .MuiAvatar-root, .chat_header .MuiAvatar-root {
  width: 30px;
  height: 30px;
}

.loading {
    background: #ecf0f4;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third__container {
  background: #fff;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center
}

.third__container h1 {
  margin: 5px
}

.login__title {
  margin: 20px
}

.third__container img {
  height: 80px;
  width: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
